{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card m-3 p-3">
        <div class="row">
            {% if request.user == advertisement.author %}
                <div class="mb-3">
                    <form action="{% url "webapp:advertisement_update" advertisement.pk %}" method="get">
                        <button class="btn btn-primary btn-sm">Редактировать</button>
                    </form>
                </div>
                <div class="mb-3">
                    <form action="{% url "webapp:advertisement_delete" advertisement.pk %}" method="get">
                        <button class="btn btn-dark btn-sm">Удалить</button>
                    </form>
                </div>
            {% endif %}
            <h3>{{ advertisement.title }}</h3>
            <h3>{{ advertisement.description }}</h3>
            <span>Автор:</span><a
                href="{% url 'accounts:profile' advertisement.author.id %}">{{ advertisement.author }}</a>
            <h3>{{ advertisement.author.phone }}</h3>
            <p class="card-text"><small class="text-muted">{{ advertisement.published_at }}</small></p>
            <img src="{{ advertisement.picture.url }}" class="card-img-top" alt="..."
                 style="height: 300px; width: 300px">

        </div>
    </div>
{% endblock content %}